.ui.grid {
  display: inline-block;
  border: 1px black;
  padding: 60px;
}
.ui.grid > .controls {
  display: inline-block;
}
.ui.grid > .rows {
  display: inline;
}
.ui.grid > .rows > .row {
  display: block;
}
.ui.grid > .rows > .row > .item {
  display: inline-block;
}
