.ui.grid {
  display: inline-block;
}
.ui.grid > .controls {
  display: block;
}
.ui.grid > .table {
  display: inline;
}
.ui.grid > .table > .row {
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
}
.ui.grid > .table > .row > .cell {
  display: table-cell;
  flex: 1;
  flex-direction: column;
  position: relative;
  white-space: nowrap;
}

@supports(display: flex) {
  .ui.grid > .table > .row {
    display: flex;
  }
  .ui.grid > .table > .row > .cell {
    display: block;
  }
}
